[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
colour = "*"
numpy = "*"
scipy = "*"
sympy = "*"
tqdm = "*"
mapbox-earcut = "*"
matplotlib = "*"
moderngl = "*"
moderngl-window = "*"
skia-pathops = "*"
pydub = "*"
rich = "*"
screeninfo = "*"
pyreadline = "*"
validators = "*"
ipython = "*"
Pillow = "*"
Pygments = "*"
PyYAML = "*"
PyOpenGL = "*"
ManimPango = ">=0.2.0,<0.4.0"

[dev-packages]

[requires]
python_version = "3.9"
